extends layout.pug

block precontent
	header(class= 'hero is-primary is-bold')
		div(class= 'hero-body')
			div(class= 'container')
				h1(class= 'title')= i18n('Welcome')
				h2(class= 'subtitle')= i18n('Welcome to the RestRace Web Interface')

block content
	if user.isInRole('admin')
		div= 'Hello Admin!'