extends layout.pug

block content
	div(class= 'card')
		header(class= 'card-header')
			p(class= 'card-header-title')= 'Login'
		div(class= 'card-content')
			div(class= 'content')
				form(method= 'post' action= '/login')
					div(class= 'field')
						label(name= 'username')= 'Username'
						p(class= 'control')
							input(class= 'input' type= 'text' placeholder= 'username' name= 'username')
					div(class= 'field')
						label(name= 'password')= 'Password'
						p(class= 'control')
							input(class= 'input' type= 'password' placeholder= 'password' name= 'password')
					div(class= 'field')
						p(class= 'control')
							input(type= 'submit' class= 'button is-primary')

block auth
	a(class= 'nav-item is-tab' href= '/signup')= 'Sign up'